#!/usr/bin/env ruby

compile '/**/*.html' do
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/blog.md' do
 filter :kramdown
 layout '/post_list.*'
 write item.identifier.without_ext + '/index.html'
end

compile '/**/*.md' do
 filter :kramdown
 filter :colorize_syntax
 layout '/default.*'

 if item.identifier =~ '**/index.*'
   write item.identifier.without_ext + '.html'
 else
   write item.identifier.without_ext + '/index.html'
 end
end

compile '/**/*' do
  write item.identifier.to_s
end

passthrough '/gallery/*'

layout '/**/*', :erb
